.container{
    display:grid;
    margin-left:auto;
    margin-right:auto;
    margin-top:5vh;
    height: 80vh;
    background-color:#000000;
}

.block{
    display: inline-block;
    border: 1px solid black;
    background-color: #FFFFFF;
}

.hoverblock{
    background-color: black;
}

.header{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.button-container{
    margin-left:auto;
    margin-right:auto;
    height: 5vh;
}

.button{
    height:100%;
    display: inline-block;
}

.button2{
    float:right;
}